<div>
    <form class="col s12 forms white-text" action="/login/password" method="POST">
        <h5>Input new password</h5>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="token" value="{{token}}">
        <input type="hidden" name="userId" value="{{userId}}">
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Input password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    </form>
</div>