<nav>
    <div class="nav-wrapper bcolor">
        <a href="#" class="brand-logo">
            <img class="image-logo" src="http://localhost:3000/img/db57bf6c-9d21-4182-b388-8e92fd973280_200x200.png" alt="ZFT">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Main</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/addCourse">Add Course</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login#login">Sign in/up</a></li>
        </ul>
    </div>
</nav>