<nav>
    <div class="nav-wrapper bcolor">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Main</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/addCourse">Add Course</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav>