<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressJsApp</title>
</head>
<body>
    asdfgh
    <a href="/about">About</a>
</body>
</html>