body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.gen-container{
  text-align: center;
  min-height: 53vh;
}

.bcolor {
  background: #0000ae;
}

.forms {
  width: 80%;
  background: #14045b;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

input {
  color: white;
}

.price {
  width: 70%;
  float: left;
}

.white-text{
  color: aliceblue;
}

.currency{
  float: left;
  margin: 30px;
}

.waves-effect.waves-brown .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
   background-color: rgba(121, 85, 72, 0.65);
 }