body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.bcolor{
  background: #0000ae;
}

.forms{
  background: #14045B;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

input{
  color:white;
}
